* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/neue-machina-regular.otf);
}

body {
    background: #070707;
    color: #ffffff;
    background-image: -webkit-linear-gradient(-45deg, #19647e 0%,#070707 43%,#070707 63%,#19647e 100%);/*-webkit-linear-gradient(-45deg, #1e5799 0%,#000000 43%,#000000 63%,#c46ab9 100%);*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98.3vh;
}

main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}